<div id="extension-spotify-adapter-content">
    <h1>Status</h1>
    <span class="extension-spotify-adapter-label">Client ID:</span> <span
        id="extension-spotify-adapter-client-id"></span><br>
    <span class="extension-spotify-adapter-label">Client secret:</span> <span
        id="extension-spotify-adapter-client-secret"></span><br>
    <span class="extension-spotify-adapter-label">Access token:</span> <span
        id="extension-spotify-adapter-access-token"></span><br>
    <span class="extension-spotify-adapter-label">Refresh token:</span> <span
        id="extension-spotify-adapter-refresh-token"></span><br>
    <button type="button" class="extension-spotify-adapter-button"
        id="extension-spotify-adapter-reset-button">Reset</button>
</div>
